@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: block;
}

a:hover {
  text-decoration: underline;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.games-section {
  background-color: #0b7261;
  color: white;
}

.selected {
  font-weight: 700;
  text-decoration: underline overline;
}